<ul class="nav">
  <li><%= link_to "Home", root_path, class: "navlink" %></li>
  <li><%= link_to "About", "/about", class: "navlink" %></li>
  <li><%= link_to "Members", root_path, class: "navlink" %></li>
  <li><%= link_to "Events", root_path, class: "navlink" %></li>
  <li><%= link_to "Albums", root_path, class: "navlink" %></li>
  <li><%= link_to "Contact", root_path, class: "navlink" %></li>
</ul>
