- provide(:title, 'Events')


#calendar

%h3 New Event
= render 'form'

%h3 All Events
%ul
  - @events.each do |event|
    %li
      %strong
        = event.name
      = link_to 'Show', event
      - if signed_in?
        = link_to 'Edit', edit_event_path(event)
        = link_to 'Delete', event_path(event), 
          method: :delete, data: { confirm: 'Are you sure?' }

:javascript
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      events: '/events',
      header: 
      {
        left: 'prev,next',
        center: 'title',
        right: 'agendaWeek,month'
      }
    });
  });

