%p
  %strong Name:
  = @event.name

%p
  %strong Start Time:
  = @event.start_time

%p
  %strong End Time:
  = @event.end_time

%p
  %strong Description:
  = @event.description

= link_to 'Back', events_path
