%h1 Edit Album:

= render 'form'

%h2 Photos:

- @album.album_photos.each do |photo|
  .row
    .col-xs-4.col-md-2
      = image_tag photo.image.url(:thumb), class: "edit-album-thumb"
    .col-xs-8.col-md-10
      = form_for [@album, photo] do |form|
        %p
          = form.label :caption
          = form.text_field :caption
        %p
          = form.submit "Update Caption"
      %p
        = link_to 'Delete', [@album, photo],
          method: :delete,
          data: { confirm: "Are you sure?" }

%h3 Add Photo:

= form_for [@album, @album.album_photos.build], :html => { :multipart => true } do |form|
  %p
    = form.label :image
    = form.file_field :image

  %p
    = form.label :caption
    = form.text_field :caption

  %p
    = form.submit "Upload Photo"

= link_to 'Back', albums_path
