- provide(:title, 'Members')

%h1 Albums

- if can? :create, Album
  %p
    = link_to 'New Album', new_album_path

.row.albums-list
  -@albums.each do |album|
    .col-xs-6.col-sm-4.col-md-3.col-lg-2
      = link_to album, title: album.title do
        .thumbnail.album_thumb
          = image_tag album.cover_image
          .caption
            %h4
              = album.title
            - if signed_in?
              %p
                -if can? :edit, album
                  = link_to 'Edit', edit_album_path(album)
                -if can? :delete, album
                  = link_to 'Delete', album_path(album), 
                    method: :delete, data: { confirm: 'Are you sure?' }
