<h1><%= @album.title %></h1>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <% @album.album_photos.each_with_index do |photo, index| %>
      <div class="item <%= "active" if index == 0 %>" data-slide-number="<%= index %>">
        <%= image_tag photo.image.url(:medium) %>
        <div class="carousel-caption">
          <p><%= photo.caption %></p>
        </div>
      </div>
    <% end %>
  </div>

  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>

<div id="slider-thumbs">
    <% @album.album_photos.each_with_index do |photo, index| %>
        <a id="carousel-selector-<%= index %>" <%= 'class=selected' if index == 0 %>>
          <%= image_tag photo.image.url(:navthumb), class: 'album_nav_thumb'%>
        </a>
    <% end %>
</div>

<p>
  <%= link_to 'Back', albums_path %>
</p>
