= form_for [@member, @transaction],
  :as => :transaction,
  :html => { :multipart => true } do |f|

  - if @transaction.errors.any?
    #error_explanation
      %em
        = pluralize(@transaction.errors.count, "error")
        prohibited this transaction from being saved:
      %ul
        -@transaction.errors.full_messages.each do |msg|
          %li
            = msg


  = f.label :type
  = select :transaction, :type, permissible_transactions(@member).collect {|t| [t.titleize, t]}

  = f.label :description
  = f.text_field :description

  = f.label :amount
  = f.text_field :amount

  = f.label :receipt
  - if @transaction.receipt.file?
    = image_tag @transaction.receipt.url(:preview)
  = f.file_field :receipt

  %p
    = f.submit
