= form_for [@member, @transaction],
  :as => :transaction,
  :html => { :multipart => true } do |f|

  = f.label :type
  = select :transaction, :type, 
      Transaction::TYPES.collect{|t|[t.name.titleize, t.name]}

  = f.label :description
  = f.text_field :description

  = f.label :amount
  = f.text_field :amount

  = f.label :receipt
  - if @transaction.receipt.file?
    = image_tag @transaction.receipt.url(:preview)
  = f.file_field :receipt

  %p
    = f.submit
