%h1 
  = @transaction.type

%p
  %em
    = @member.name

%p
  %strong Date:
  = @transaction.created_at.to_date

%p
  %strong Transaction Id:
  = @transaction.id

%p
  %strong Description:
  = @transaction.description

%p
  %strong Amount:
  = number_to_currency @transaction.amount

- if @transaction.receipt.file?
  %p
    %strong Reciept:
    %br
    = image_tag @transaction.receipt.expiring_url(:preview, 10)

%p
  - if can? :edit, @transaction
    = link_to 'Edit', edit_member_transaction_path(@member, @transaction)
    |
  - if can? :delete, @transaction
    = link_to 'Cancel Transaction', [@member, @transaction],
        method: :delete,
        data: { confirm: "Are you sure?" }
    |
  = link_to 'Back', member_path(@member)
