<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrap">

      <div id="header">
        <%= render "shared/header" %>
      </div>

      <div id="navigation-bar">
        <%= render "shared/navbar" %>
      </div>

      <div id="content">
        <%= yield %>
      </div>

      <div id="footer">
        <%= render "shared/footer" %>
      </div>

    </div>

  </div>

</body>
</html>
