<%= form_for @member, :html => { :multipart => true } do |f| %>

  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member
        from being saved:</h2>
      <ul>
        <% @member.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <% if @edit_password %>
    <p>
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %>
    </p>
  <% end %>

  <p>
    <%= f.label :profile_photo %><br/>
    <%= image_tag @member.profile_photo.url(:thumb) %></br>
    <%= f.file_field :profile_photo %>
  </p>

  <p>
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </p>

  <p>
    <%= f.label :program %><br>
    <%= f.text_field :program %>
  </p>

  <p>
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </p>

  <% if can? :assign_roles, @member %>
    <p>
      <strong>Roles</strong><br/>
      <% Member.valid_roles.each do |role| %>
        <%= check_box_tag "member[roles][#{role}]", role, @member.roles.include?(role),
          {:name => "member[roles][]"} %>
        <%= label_tag "member_roles_#{role}", role.to_s.humanize %><br/>
      <% end %>
      <%= hidden_field_tag "member[roles][]", "" %>
    </p>
  <% end %>

  <p>
    <%= f.submit %>
  </p>
<% end %>
