<div class="row members-list">
  <% members.each do |member| %>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <%= link_to member, title: member.name do %>

        <div class="thumbnail member_thumb">
          <%= image_tag member.profile_photo.url(:thumb) %>
          <div class='caption'>
            <h4><%= member.name %></h4>
            <p><em><%= member.position %></em></p>
            <p>
            <% if can? :edit, member %>
              <%= link_to 'Edit', edit_member_path(member) %>
            <% end %>
            <% if can? :destroy, member %>
              <%= link_to 'Delete', member_path(member),
                method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            </p>
          </div>
        </div>

      <% end %>
    </div>
  <% end %>
</div>
