- provide(:title, 'Members')

%h1 Members

%ul
  - @members.each do |member|
    %li
      = image_tag member.profile_photo.url(:thumb)
      = member.name
      = link_to 'Show', member
      - if signed_in?
        = link_to 'Edit', edit_member_path(member)
        = link_to 'Delete', member_path(member),
                    method: :delete, data: { confirm: 'Are you sure?' }

- if signed_in?
  %h3 Invite New Members
  = form_for @invitation do |form|
    %p
      = form.label :name
      = form.text_field :name
    %p
      = form.label :email
      = form.text_field :email
    %p
      = form.submit "Invite"

  %h4 Pending Invitations

  - if @invitations.count == 0
    %em No pending invitations

  - @invitations.each do |invite|
    %p
      %strong
        = invite.name
      = invite.email
      = link_to 'Cancel', invitation_path(invite),
                  method: :delete, data: { confirm: 'Are you sure?' }
