<h1>Members</h1>

<%= link_to 'New Member...', new_member_path %>

<ul>
  <% @members.each do |member| %>
    <li>
      <%= member.name %>
      <%= link_to 'Show', member %>
      <%= link_to 'Edit', edit_member_path(member) %>
      <%= link_to 'Delete', member_path(member),
                  method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
