<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @member.position %>
</p>

<p>
  <strong>Program:</strong>
  <%= @member.program %>
</p>

<p>
  <strong>About:</strong>
  <%= @member.about %>
</p>

<%= link_to 'Back', members_path %>
