<% provide(:title, @member.name) %>

<div class="thumbnail member_photo">
  <%= image_tag @member.profile_photo.url(:medium)%>
</div>

<h3>
  <%= @member.name %>
</h3>

<% unless @member.position.blank? %>
  <p>
  <strong>Position:</strong>
  <%= @member.position %>
  </p>
<% end %>

<% unless @member.program.blank? %>
  <p>
  <strong>Program:</strong>
  <%= @member.program %>
  </p>
<% end %>

<% unless @member.about.blank? %>
  <p>
  <strong>About:</strong>
  <%= @member.about %>
  </p>
<% end %>

<div style="clear: both"></div>

<h3>Account</h3>
<!-- TODO
  - pick date range / paginate
  - running balance
  - table format when no transaction history
-->

<p>
<table class="table">
  <tr>
    <th class="text-center">Date</th>
    <th class="text-center">Type</th>
    <th class="text-center">Transaction Id</th>
    <th class="text-center">Description</th>
    <th class="text-center">Debit</th>
    <th class="text-center">Credit</th>
    <th class="text-center">Balance Due</th>
  </tr>
  <% running_balance = 0 # TODO get incoming balance if displaying date range %>
  <% @member.transactions.each do |t| %>
    <% running_balance += t.balance_amount %>
    <tr>
      <td class="text-center"><%= t.created_at.to_date %></td>
      <td class="text-center"><%= t.type.titleize %></td>
      <td class="text-center"><%= link_to t.id, member_transaction_path(@member, t) %>
      <td class="text-center"><%= t.description %></td>
      <td class="text-right"><%= number_to_currency t.debit_amount %></td>
      <td class="text-right"><%= number_to_currency t.credit_amount %></td>
      <td class="text-right"><%= number_to_currency running_balance %></td>
    </tr>
  <% end %>
</table>
</p>

<p>
  <strong>Balance Due:</strong>
  <%= number_to_currency(@member.account_balance) %>
</p>


<h4> New Transaction </h4>
<p>
  <%= render :partial => "/transactions/form" %>
</p>

<p>
  <% if can? :edit, @member %>
    <%= link_to 'Edit', edit_member_path(@member) %>
    |
  <% end %>
  <%= link_to 'Back', members_path %>
</p>
