<% provide(:title, @member.name) %>

<div class="thumbnail member_photo">
  <%= image_tag @member.profile_photo.url(:medium)%>
</div>

<h3>
  <%= @member.name %>
</h3>

<% unless @member.position.blank? %>
  <p>
  <strong>Position:</strong>
  <%= @member.position %>
  </p>
<% end %>

<% unless @member.program.blank? %>
  <p>
  <strong>Program:</strong>
  <%= @member.program %>
  </p>
<% end %>

<% unless @member.about.blank? %>
  <p>
  <strong>About:</strong>
  <%= @member.about %>
  </p>
<% end %>

<div style="clear: both"></div>

<p>
  <% if can? :edit, @member %>
    <%= link_to 'Edit', edit_member_path(@member) %>
    |
  <% end %>
  <%= link_to 'Back', members_path %>
</p>
